<footer class="footer-section py-5">
  <div class="container">
    @if (showScrollBtn()) {
    <div class="scroll-top-fixed">
      <button (click)="scrollToTop()" class="btn-scroll-top" title="Back to Top">
        <i class="bi bi-arrow-up-short"></i>
        <div class="pulse-ring"></div>
      </button>
    </div>
  }
    <div class="row align-items-center">
      <div class="col-md-4 text-center text-md-start mb-4 mb-md-0">
        <h4 class="text-white fw-bold mb-2">
          Mahmoud<span class="text-primary">.Dev</span>
        </h4>
        <p class="text-muted small mb-0">
          Building robust software with a focus on quality and performance.
          Bridging the gap between QA and Full Stack Development.
        </p>
      </div>

      <div class="col-md-4 text-center mb-4 mb-md-0">
        <div class="d-flex justify-content-center gap-3">
          <a
            href="https://github.com/mahmoodelbadri"
            target="_blank"
            class="social-link"
          >
            <i class="bi bi-github"></i>
          </a>
          <a
            href='https://linkedin.com/in/mahmoodelbadri'
            target="_blank"
            class="social-link"
          >
            <i class="bi bi-linkedin"></i>
          </a>
          <a
            href="mailto:mahmoud.elbadry357@gmail.com?subject=Professional%20Inquiry%20-%20CV%20Request&body=Dear%20Mahmoud%2C%0D%0A%0D%0AI%20hope%20this%20email%20finds%20you%20well.%0D%0A%0D%0AI%20came%20across%20your%20portfolio%20and%20was%20impressed%20by%20your%20technical%20expertise.%20I%20would%20like%20to%20request%20a%20copy%20of%20your%20CV%20to%20explore%20potential%20collaboration%20opportunities.%0D%0A%0D%0ALooking%20forward%20to%20hearing%20from%20you.%0D%0A%0D%0ABest%20regards%2C%0D%0A%5BName%5D%0D%0A%5BCompany%2FOrganization%5D"
            class="social-link"
          >
            <i class="bi bi-envelope"></i>
          </a>
          <a
            href="https://wa.me/+201099565685"
            target="_blank"
            class="social-link"
          >
            <i class="bi bi-whatsapp"></i>
          </a>
        </div>
      </div>

      <div class="col-md-4 text-center text-md-end">
        <p class="text-muted small mb-0">
          <strong>Mahmoud Salah Elbadri</strong>
          <br />
          All Rights Reserved &copy; {{ time }} .           
        </p>
      </div>
    </div>
  </div>
</footer>
