<app-navbar />
<!-- Global Aurora Background -->
<div class="global-aurora-bg">
  <div class="aurora-orb aurora-orb-1"></div>
  <div class="aurora-orb aurora-orb-2"></div>
  <div class="aurora-orb aurora-orb-3"></div>
</div>

<main>

  <section id="home">
    <app-hero />
  </section>
   <section id="projects">
    <app-projects-carousel />
  </section> 
  <section id="skills">
    <app-skills />
  </section>
  <section id="contact">
    <app-contacts />
  </section>
</main>
<app-custom-cursor />
<app-footer />
